<div class="offset2 span6">
  <h2>Change your password</h2>

  <%= bootstrap_form_for(@user, :url => "/user/passwd", :method => :post, :html => { :class => "form-horizontal" }) do |f| %>
    <%= f.password_field :current_password, :label => "Current Password", :tabindex => 1 %>
    <%= f.password_field :password, :label => "New Password", :tabindex => 2 %>
    <%= f.password_field :password_confirmation, :label => "Confirm New Password", :tabindex => 3 %>
    <%= f.control_group do %>
      <%= f.primary "Set Password" %>
    <% end %>
  <% end %>
</div>
